    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br><br>
              <h2>About Me</h2>
              <br>
                <div class="about_me">
                  <p>After working for nearly a decade in administrative roles, I realised that I needed a greater challenge and so enrolled at General Assembly on their 12-week 'Web Development Immersive' bootcamp to learn to code.</p>
                  <p>During the 12 weeks of the course, we covered:
                  <ul>
                    <li>HTML and CSS, including frameworks such as Foundation and Bootstrap.</li>
                    <li>JavaScript, jQuery, AngularJS, ExpressJS, NodeJS.</li>
                    <li>Ruby, Rails, Sinatra.</li>
                    <li>SQL, PostgreSQL, MongoDB.</li>
                    <li>Agile practices, TDD and GIT.</li>
                  </ul></p>
                  <p>I'm thrilled to now be part of such an inspiring place as London's tech community with its diverse and plentiful opportunities for learning and development.</p>
                  <p>After graduating from General Assembly, I started working as a Junior Developer in February 2016, and am enjoying developing my skills and always seeking opportunities to do so even further.</p>
                  <p>I have coached at RailsGirls in London and really enjoy helping people learn and being a part of something which helps promote gender diversity within the world of tech.</p>
                  <p>When I'm not learning or coding, I can often be found either at The Castle in North London trying to climb up walls, or at Aerial Yoga in Whitechapel, hanging around upside down and trying to master handstands.</p>
                  <p>I love travelling as much as I'm able to and have a very long wishlist of places I'd love to see, and an ever growing list of adventures I've already been very lucky to have, from snowboarding in the Alps, visiting Angkor Wat in Cambodia and Fushimi Inari shrine in Kyoto to swimming with manta rays and turtles in The Maldives.</p>
                  <br>
                </div>
            </div>
        </div>
    </section>
