    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br><br>
              <h2>About Me</h2>
              <br>
                <div class="about_me">
                  <p>After working for nearly a decade in administrative roles, I realised that I needed a greater challenge and so enrolled at General Assembly on their 12-week 'Web Development Immersive' bootcamp to learn to code.</p>
                  <p>During the 12 weeks of the course, we covered:
                  <ul>
                    <li>HTML and CSS, including frameworks such as Foundation and Bootstrap.</li>
                    <li>JavaScript, jQuery, AngularJS, ExpressJS, NodeJS.</li>
                    <li>Ruby, Rails, Sinatra.</li>
                    <li>SQL, PostgreSQL, MongoDB.</li>
                    <li>Agile practices, TDD and GIT.</li>
                  </ul></p>
                  <p>I'm thrilled to now be part of such an inspiring place as London's tech community with its diverse and plentiful opportunities for learning and development.</p>

                  <p>After graduating from General Assembly, I was very lucky to be taken on as a Junior Developer at a Rails agency in London in February 2016 .</p>

                  <p>When I'm not learning or coding, my spare time is filled by either attempting to climb up walls at the Castle Climbing centre, hanging around upside down practicing aerial yoga, or shooting monsters in the beautiful, post-apocalyptic wasteland of Fallout 4.</p>
                  <br><hr>
                </div>
            </div>
        </div>
    </section>
